*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        button{
            padding: 2% 5%;
            background-color: gold;
            margin: 10px;
            text-align: center;
        }
        .container{
            height: 100px;
            width: 100%;
            display: flex;
            
            gap: 10px;
            margin-bottom: 10px;
        }
        .card{
            height: 100px;
            width: 30%;
            text-align: center;
            font-size: 3rem;
            color: black;
            gap: 10px;
            background-color: tomato;
            
        }
        .con{
            height: 300px;
            width: 100%;
            display: block;
        }